@media screen and (max-device-width: 600px) {
    .landing-body {
        margin-left: 25px;
        margin-right: 25px;
    }
    /* h1 {
        font-size: 18px;
    } */
    .text-justify {
        text-align: start;
    }
    .topnav {
        display: block;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .main {
        margin: auto 10px;
    }
    .middle {
        top: 50%;
    }
    .caption span.border {
        background-color: transparent;
    }
    .center {
        width: 100%;
    }
    .profile-header {
        flex-direction: column;
    }
    .profile-name {
        text-align: center;
    }
    .project {
        flex-direction: column;
    }
    .project-container {
        margin: auto auto;
    }
    .project-img {
        width: auto;
    }
    .project-body {
        margin-left: 10px;
        margin-right: 10px;
    }
    .project-description {
        margin-right: 0px;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}